go 1.24.4

use (
	.
	./docs/bench
	./driver/dropboxstorage
	./driver/ftpstorage
	./driver/gcsstorage
	./driver/localstorage
	./driver/memorystorage
	./driver/redisstorage
	./driver/rclonestorage
	./driver/s3storage
	./driver/sftpstorage
	./examples
	./integration
	./storagecore
	./storagetest
)
